
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#particle-container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
